POSTGRES_DB=retaildb
POSTGRES_USER=retail_user
POSTGRES_PASSWORD=retail_password
DB_HOST=postgres

AIRFLOW_SECRET_KEY=replace_with_a_random_secret_at_least_64_characters_long_1234567890
AIRFLOW_ADMIN_PASSWORD=admin

PGADMIN_DEFAULT_EMAIL=admin@retail.local
PGADMIN_DEFAULT_PASSWORD=admin